<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    
    <title><%= title %></title>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link type="text/javascript" src="js/base.js" />
    <link rel='stylesheet' id='contact-form-7-css'  href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='one-custom-style-inline-css'  href='css/custom_style' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&amp;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='one-bootstrap-css'  href='css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='hover-css-css'  href='css/hover.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css'  href='css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-css-css'  href='css/pretty.photo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='icofont-css-css'  href='css/icofont.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'  href='css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='one-stylesheet-css'  href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='one-responsive-styles-css'  href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href='css/js_composer.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <link rel="icon" href="img/cropped-logo-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="img/cropped-logo-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="img/cropped-logo-180x180.jpg" />
    <meta name="msapplication-TileImage" content="img/cropped-logo-270x270.jpg" />
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible { opacity: 1; }
        </style>
    </noscript>
</head>
    
<body class="page page-id-381 page-template page-template-template-home page-template-template-home-php wpb-js-composer js-comp-ver-5.0 vc_responsive" >
    <div class="loader_wrep">
        <div class="loader_cell">
            <div class="loader"></div>
        </div>	
    </div>
    <div class="box_mode   content_wrapper">

        <!-- 01. hero_area -->
        <div class="hero_area single" id="welcome">
            <div class="sticky-anchor"></div>

            <header class="header-area fixed_header">
                <%- include('partials/header') %>
            </header> 
            <!-- 01. /hero_area -->


            <div class="container">
                <%- include('partials/introduction', {title: title, button_email_form: button_email_form, enter_email_text: enter_email_text, enter_email_form: enter_email_form}) %>

                <%- include('partials/features') %>

                <div class="vc_row-full-width vc_clearfix"></div>

                <%- include('partials/info') %>

                <div class="vc_row-full-width vc_clearfix"></div>
                
                <%- include('partials/social') %>
                
                <div class="vc_row-full-width vc_clearfix"></div>

                <%- include('partials/reviews') %>

                <%- include('partials/faq') %>

                <%- include('partials/portfolio') %>

                <%- include('partials/contacts') %>
                
                <div class="vc_row-full-width vc_clearfix"></div>
            </div>


            <!-- Small modal -->
            <%- include('partials/modalform') %>


            <!-- 13. footer -->
            <footer class="footer animated a_fu" id="footer">
                <%- include('partials/footer', {copyright:copyright, author_name:author_name, author_email:author_email}) %>
            </footer>
            <!-- 13. /footer -->

        </div>
    </div>
    <script type="text/javascript">
        (function() {function addEventListener(element,event,handler) {
            if(element.addEventListener) {
                element.addEventListener(event,handler, false);
            } 
            else if(element.attachEvent){
                element.attachEvent('on'+event,handler);
            }
        }
        function maybePrefixUrlField() {
            if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if( urlFields && urlFields.length > 0 ) {
            for( var j=0; j < urlFields.length; j++ ) {
                addEventListener(urlFields[j],'blur',maybePrefixUrlField);
            }

        }
        
        /* test if browser supports date fields */
        var testInput = document.createElement('input');
        testInput.setAttribute('type', 'date');
        if( testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
            for(var i=0; i<dateFields.length; i++) {
                if(!dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if(!dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }
        })();
    </script>
    
    <link rel='stylesheet' id='animate-css-css'  href='css/animate.min.css' type='text/css' media='' />
    <script type='text/javascript' src='js/jquery.form.min.js'></script>
    <script type='text/javascript'>
    
    /* <![CDATA[ */
    var _wpcf7 = {"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
    </script>
    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.min.js'></script>
    <script type='text/javascript' src='js/jquery.parallax.min.js'></script>
    <script type='text/javascript' src='js/waypoints.min.js'></script>
    <script type='text/javascript' src='js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='js/onepage.nav.js'></script>
    <script type='text/javascript' src='js/counterup.min.js'></script>
    <script type='text/javascript' src='js/colorpicker.js'></script>
    <script type='text/javascript' src='js/styler.js'></script>
    <script type='text/javascript' src='js/jquery.slicknav.min.js'></script>
    <script type='text/javascript' src='js/steller.js'></script>
    <script type='text/javascript' src='js/active.js'></script>
    <script type='text/javascript' src='js/wp-embed.min.js'></script>
    <script type='text/javascript' src='js/js_composer_front.min.js'></script>
    
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mc4wp_forms_config = [];
        /* ]]> */
    </script>
    
    <script type='text/javascript' src='js/forms-api.min.js'></script>
    </body>
</html>